p{
    text-align: center;
}
.box{
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    background: #f9f9f9;
    border: 2px solid#333; 
}
.radio{
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    background: #f9f9f9;
    border: 2px solid#333; 
}
.checkbox{
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    background: #f9f9f9;
    border: 2px solid#333; 
}
.list{
    text-align: center;
    width: 100%;
}
.footer{
    text-align: center;
    width: 100%;
}